/* NEW CODE FOR PORTFOLIO PAGE */
.container {
  margin-top: 60px;
}
.portfolio-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.portfolio-item div h3 {
  text-align: right;
  font-size: 20px;
}

.portfolio-item div img {
  width: 100%;
  object-fit: cover;
}

.portfolio-item h2 {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  margin: 0;
  padding: 20px;
  letter-spacing: 3px;
  font-size: 3em;
}

.nslider {
  min-height: 550px !important;
  margin-top: 20px;
}

.nslider .nslider-button {
  background-color: transparent;
}

.nslider .nslider-button.nslider-button-next {
  right: -10px;
}

.nslider .nslider-button.nslider-button-prev {
  left: -15px;
}

/* portfolio gallery */
.portfolio-gallery {
  margin-top: 150px;
}

.working-on-wrapper a {
  color: var(--text-primary);
}

.working-on-wrapper h2 {
  letter-spacing: 3px;
}

.working-on-ecommerce-page {
  width: 100%;
}
.working-on-ecommerce-page img {
  width: 100%;
  object-fit: cover;
}

/*  Small screens */
@media only screen and (max-width: 600px) {
  .portfolio-item h2 {
    font-size: 1em;
  }

  .nslider {
    min-height: 400px !important;
  }
}

@media only screen and (max-width: 400px) {
  .nslider {
    min-height: 300px !important;
  }
}
